#app {
    background: linear-gradient(120deg, #ffffff 45.9%, #4c79d3 46%) no-repeat fixed;
}

header {
    border-bottom: 1px solid #bebcbc;
    padding: 5px;
    background-color: #ffffff;

}

.icon-detail {
    font-size: 3.125rem;
    margin-right: 0.625rem;
    vertical-align: middle;
}

.info {
    background-color: #ffffff;
    border-radius: 1.25rem 1.25rem 0px 0px;
    padding: 1.25rem 0px 0px 0px;
}

.logout {
    min-width: 5rem !important;
}

.menu {
    margin-right: 20px;
}

.container-position-home {
    position: relative;
}